attrs
blinker
cattrs
certifi
charset-normalizer
click
colorama
Flask
flask-cors
flatbuffers
h11
idna
itsdangerous
jh2
Jinja2
joblib
MarkupSafe
niquests
numpy
openmeteo_requests
openmeteo_sdk
pandas
platformdirs
python-dateutil
pytz
qh3
requests
requests-cache
retry-requests
scikit-learn
scipy
six
threadpoolctl
typing_extensions
tzdata
url-normalize
urllib3
urllib3-future
wassima
Werkzeug
xgboost
